@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa';
    background-color: #fff2e6;
}

header{
    color: white;
    background-color: #1a1b21;
    padding: 20px;
}


.logohead{
    float: left;
    height: 45px;
    width: auto;
    padding-right: 5px;
}

footer{
    color: white;
    font-size: 25px;
    background-color: #1a1b21;
    padding: 50px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.info1{
  float: right;  
  width: 200px;
  position: fixed
  ;
}

#i{
    display: flex;
    float: left;
}

#o{
    display: flex;
}

.kwul{
    margin-right: 120px;
    margin-left: 120px;
    margin-top: 30px;
    padding: 20px;
    font-size: larger;
    float: right;
}

.idfc{
    background-color: blue;
}